body {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

header {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    background-color: hsl(215, 100%, 18%);
    font-size: 22px;
    color: hsl(40, 99%, 58%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 20px;
    z-index: 1;
}

header a {
    color: inherit;
}

main {
    max-width: 700px;
    margin: 70px auto 30px auto;
	padding: 20px;
    background-color: hsla(198, 27%, 55%, 3%);
    border-radius: 15px;
}

footer {
    max-width: 500px;
    margin: 30px auto;
    background-color: hsl(40, 99%, 58%);
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 0px hsl(210, 10%, 59%);
}

video {
	z-index: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%
}

nav {
    width: 380px;
    font-family: 'Ubuntu', sans-serif;
    z-index: 1000;
}

ul {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    padding: 0px 15px;
}

h1 {
	margin: 30px 0px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 2em;
	color: hsl(40, 99%, 58%);
	text-align: center;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    color: hsl(215, 100%, 18%);
}

footer h2 {
    margin-top: 15px;
    margin-bottom: 10px;
}

article {
    margin-bottom: 70px;
}

figure {
	margin: 0px;
	padding: 0px;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.fixed {
    position: fixed;
}

.tile {
    box-shadow: 5px 5px 5px 0px hsl(210, 10%, 59%);
    z-index: 0;
}

.tile:hover {
    animation-name: tile-animation;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

@keyframes tile-animation {
    100% {
        transform: scale(1.01);
        box-shadow: 5px 5px 5px 5px hsl(210, 10%, 59%);
    }
}

.project-tile {
    max-width: 430px;
    background-color: #A8B1B8;
    border-radius: 10px;
    margin: 10px;
}

.project-img {
	border-radius: 10px 10px 0px 0px;
}

.project-title {
	margin: 8px;
	font-size: 16px;
	text-align: center;
	color: hsl(215, 100%, 18%);
}

.button {
    padding: 15px;
    margin: 7px;
	color: hsl(215, 100%, 18%);
    background-color: hsl(206, 10%, 69%);
    border-radius: 9px;
}

.navlink {
    padding: 10px 15px;
    border-width: 2px;
    border-color: hsl(215, 100%, 24%);
    border-style: none none none solid;
}

.navlink:hover {
    animation-name: nav-animation;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

@keyframes nav-animation {
    100% {
        padding-top: 15px;
        padding-bottom: 5px;
    }
}

.contact-icon {
    padding: 20px;
    height: 48px;
}

.contact-icon:hover {
    animation-name: contact-animation;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

@keyframes contact-animation {
    100% {
        transform: scale(1.1);
    }
}

.welcome-sections {
	margin: 5px;
    max-width: 47%;
}

#logo a {
    margin: 0px;
    padding: 0px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-img {
    height: 50px;
}

#home {
    right: 0px;
    bottom: 0px;
    padding: 5px;
	color: hsl(40, 99%, 58%);
	background-color: hsl(215, 100%, 18%);
}

#welcome-section {
    height: 100vh;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	padding: 50px 0px;
}

#projects-section {
    display:flex;
    flex-direction: column;
}

#projects {
    display: grid;
    grid-template-columns: 50% 50%;
}

#show-more {
    margin: 20px auto;
}

#summary {
	font-size: 16px;
}

#video {
	width: 100%;
}

#contact-links {
    justify-content: center;
}

#contact-section p  {
    margin: 8px 0px;
}

#email {
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    width: 450px;
    margin: 5px auto;
    padding: 0.2em 15px;
    border-radius: 14.5px;
}

#submit {
    font-size: 18px;
    padding: 0.5em 1em;
    width: min-content;
    margin: 10px auto 0px auto;
    border-radius: 10px;
    background-color: hsl(215, 100%, 18%);
    color: hsl(40, 99%, 58%);
}

#submit:hover {
    animation-name: submit-animation;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes submit-animation {
    100% {
        background-color: hsl(215, 100%, 28%);
    }
}

@media (max-width: 550px) {
    header {
        padding: 0px;
        height: 100px;
        flex-direction: column;
        align-content: center;
    }

    #welcome-section {
        flex-direction: column;
        justify-content: flex-start;
    }

    .welcome-sections {
        max-width: 100%;
    }

    #projects {
        display: flex;
        flex-direction: column;
    }

    nav {
        margin: 0px auto;
    }

    .navlink:nth-last-child(1) {
        border-width: 2px;
        border-color: hsl(215, 100%, 24%);
        border-style: none solid none solid;
    }
}