body {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
  	--outline-color: hsl(348, 69%, 38%); /*Pinky red*/
  	--background: hsl(0, 0%, 100%);
  	--foreground: hsl(0, 0%, 31%); /*Dark grey*/
  	--shadow: hsl(210, 10%, 59%);
  	--header-height: 9.7vh;
  	--header-offset: 10vh;
	--header-neg-offset: -10vh;
    --content-width: 1000px;
}

header {
    top: 0px;
    left: 0px;
    right: 0px;
    height: var(--header-height);
    background-color: var(--outline-color);
	font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 20px;
    z-index: 1;
}

header a {
    color: inherit;
}

main {
    max-width: var(--content-width);
    margin: 70px auto 30px auto;
	padding: 0px 20px 20px 20px;
    border-radius: 15px;
	background-color: var(--background);
	color: var(--foreground);
}

#contacts {
    max-width: 500px;
    margin: 30px auto;
    background-color: var(--outline-color);
	color: var(--background);
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 0px var(--shadow);
}

video {
	z-index: 0;
}

a {
    text-decoration: none;
	color: inherit;
}

img {
    max-width: 100%
}

nav {
    width: 380px;
    z-index: 10;
}

ul {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    padding: 0px 15px;
}

#presentation {
	margin: 30px 0px;
	font-family: 'Ubuntu', sans-serif;
	background-color: var(--background);
	font-size: 2em;
	font-weight: bold;
	color: var(--outline-color);
	text-align: center;
}

#company-name {
	margin: 0px;
	padding: 0px 15px;
	font-size: 1.2em;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
	background-color: var(--outline-color);
    color: var(--background);
	border-radius: 15px 15px 0px 0px;
    padding: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

footer h2 {
    margin-top: 15px;
    margin-bottom: 10px;
	padding: 0px;
}

.offseted {
	border-top: var(--header-offset) solid transparent;
    margin-top: var(--header-neg-offset);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

article {
    margin-bottom: 70px;
}

section {
	padding: 0px 30px;
}

figure {
	margin: 0px;
	padding: 0px;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.fixed {
    position: fixed;
}

.tile {
    box-shadow: 3px 3px 4px 2px var(--shadow);
    z-index: 0;
}

.tile:hover {
    animation-name: tile-animation;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

@keyframes tile-animation {
    100% {
        transform: scale(1.01);
        box-shadow: 3px 3px 5px 3px var(--shadow);
    }
}

.project-tile {
    max-width: 430px;
    background-color: var(--foreground);
	color: var(--background);
    border-radius: 10px;
    margin: 20px;
	padding: 0px;
}

.project-img {
	border-radius: 10px 10px 0px 0px;
}

.project-title {
	margin: 8px;
	font-size: 16px;
	text-align: center;
}

.button {
    padding: 15px;
    margin: 7px;
	font-weight: bold;
    background-color: var(--outline-color);
	color: var(--background);
    border-radius: 9px;
}

.navlink {
    padding: 1vh 15px;
    border-width: 1px;
    border-left-color: hsl(348, 69%, 45%);
    border-left-style: solid;
	border-right-color: hsl(348, 69%, 30%);
    border-right-style: solid;
}

.navlink:nth-child(1) {
	border-left-style: none;
}

.navlink:nth-last-child(1) {
	border-right-style: none;
}

.navlink:hover {
    animation-name: nav-animation;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

@keyframes nav-animation {
    100% {
        padding-top: 1.5vh;
        padding-bottom: 0.5vh;
    }
}

.contact-icon {
    padding: 20px;
    height: 48px;
}

.contact-icon:hover {
    animation-name: contact-animation;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

@keyframes contact-animation {
    100% {
        transform: scale(1.1);
    }
}

.welcome-sections {
	margin: 5px;
    max-width: 47%;
}

.content {
	border-color: var(--outline-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 0px 0px 15px 15px;
}

#logo a {
    margin: 0px;
    padding: 0px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-img {
    height: 8vh;
	margin-left: 50px;
}

#home {
    right: 5px;
    bottom: 5px;
    padding: 5px;
	font-size: 32px;
	color: var(--background);
	background-color: var(--outline-color);
}

#welcome-section {
    height: 90vh;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: center;
	padding: 0px;
}

#projects-section {
    display:flex;
    flex-direction: column;
}

#projects {
    display: grid;
    grid-template-columns: 50% 50%;
	padding-left: 10px;
	padding-right: 10px;
}

#show-more {
    margin: 20px auto;
}

#summary {
	font-size: 16px;
}

#video {
	width: 100%;
}

#contact-links {
    justify-content: center;
}

#contact-section p  {
    margin: 8px 0px;
}

#email {
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    width: 450px;
    margin: 5px auto;
    padding: 0.2em 15px;
    border-radius: 14.5px;
}

#submit {
    font-size: 18px;
	font-weight: bold;
    padding: 0.5em 1em;
    width: min-content;
    margin: 10px auto 0px auto;
    border-radius: 10px;
    background-color: var(--background);
    color: var(--outline-color);
}

#submit:hover {
    animation-name: submit-animation;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes submit-animation {
    100% {
        background-color: var(--outline-color);
		color: var(--background);
    }
}

@media (max-width: 1200px) {
    body {
        --content-width: 750px;
    }
}

@media (max-width: 550px) {
    body {
        --header-height: 19.4vh;
  	    --header-offset: 20vh;
	    --header-neg-offset: -20vh;
    }

    header {
        padding: 0px;
        height: var(--header-height);
        flex-direction: column;
        align-content: center;
    }

    #welcome-section {
        flex-direction: column;
        justify-content: flex-start;
    }

    .welcome-sections {
        max-width: 100%;
    }

    #projects {
        display: flex;
        flex-direction: column;
    }

    nav {
        margin: 0px auto;
    }
}